{
  "RendererLambdaFunction": {
    "S3_BUCKET": "your-bucket-name",
    "EVENT_SOURCE_QUEUE": "https://sqs.${REGION}.amazonaws.com/${ACCOUNT}/rendering-queue-name",
    "PDF_GENERATION_QUEUE": "https://sqs.${REGION}.amazonaws.com/${ACCOUNT}/pdf-generation-queue-name"
  }
}
