{
  "CreateDocumentFunction": {
    "DOCUMENTS_TABLE": "eltemplito-DocumentsDBTable-12345678",
    "S3_BUCKET": "eltemplito-test"
  },
  "ListenDocumentStreamFunction": {
    "STATE_CHANGED_TOPIC": "arn:aws:sns:ap-us-east-1:12345678:eltemplito-StateChangedSNSTopic-12345678",
    "DOCUMENT_CREATED_TOPIC": "arn:aws:sns:ap-us-east-1:12345678:eltemplito-DocumentCreatedSNSTopic-12345678"
  },
  "DispatchrFunction": {
    "RENDER_TEMPLATE_FUNCTION": "arn:aws:lambda:us-east-1:12345678:function:eltemplito-RenderTemplateFunction-12345678",
    "GENERATE_PDF_FUNCTION": "arn:aws:lambda:us-east-1:12345678:function:eltemplito-GeneratePdfFunction-12345678",
    "DOCUMENTS_TABLE": "eltemplito-DocumentsDBTable-1235678"
  },
  "RenderTemplateFunction": {
    "S3_BUCKET": "eltemplito-test",
    "STATE_CHANGED_TOPIC": "arn:aws:sns:ap-us-east-1:12345678:eltemplito-StateChangedSNSTopic-12345678"
  },
  "GeneratePdfFunction": {
    "S3_BUCKET": "eltemplito-test",
    "STATE_CHANGED_TOPIC": "arn:aws:sns:ap-us-east-1:12345678:eltemplito-StateChangedSNSTopic-12345678"
  }
}
