{
  "CreateDocumentFunction": {
    "DOCUMENTS_TABLE": "eltemplito-DocumentsDBTable-12345678",
    "S3_BUCKET": "eltemplito-test"
  },
  "ListenDocumentStreamFunction": {
    "DISPATCHR_FUNCTION": "arn:aws:lambda:us-east-1:12345678:function:eltemplito-ListenDocumentStreamFunction-12345678",
    "DOCUMENTS_TOPIC": "arn:aws:sns:ap-us-east-1:12345678:eltemplito-DocumentsSNSTopic-12345678"
  },
  "DispatchrFunction": {
    "RENDER_TEMPLATE_FUNCTION": "arn:aws:lambda:us-east-1:12345678:function:eltemplito-RenderTemplateFunction-12345678",
    "GENERATE_PDF_FUNCTION": "arn:aws:lambda:us-east-1:12345678:function:eltemplito-GeneratePDFFunction-12345678",
    "DOCUMENTS_TABLE": "eltemplito-DocumentsDBTable-1235678"
  },
  "RendererTemplateFunction": {
    "S3_BUCKET": "eltemplito-test"
  }
}
